@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'snoorks';
    src: url(./fonts/snoorks-font/Snoorks-L3EgW.ttf);
}

@font-face {
    font-family: 'cement';
    src: url(./fonts/cement-ext-bd-font/CementpersonaluseExtrabold-K7g3X.otf);
}

@font-face {
    font-family: 'cushy';
    src: url(./fonts/cushy-font/Cushy-ALa3D.otf);
}

@font-face {
    font-family: 'makeup';
    src: url(./fonts/makeup-font/MakeupPersonalUseRegular-8Vpz.ttf);
}

@font-face {
    font-family: 'regista';
    src: url(./fonts/regista-font/Demoregista-PV7ed.otf);
}

@font-face {
    font-family: 'quincy';
    src: url(./fonts/the-quincy-font/TheQuincy-8MKmJ.ttf);
}

body {
    font-family: 'robot' ,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.container input {
    width: 100%;
    padding: 10px;
    margin: 10px -11px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
label {
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    gap: 17px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    white-space: nowrap; /* Prevents line break */
}
.container button:hover {
    background-color: #4cae4c;
}
.container .logout {
    background-color: #b85c5c;
}
.container .logout:hover{
    background-color: #ae4c4c;
}
.message {
    color: red;
    text-align: center;
}
#user-name {
    color: rgb(39, 175, 112);
    font-family: 'quincy';
    font-size: 35px;
}

.topNav{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: #181a18;
}

.logo{
    position: fixed;
    top: 10px;
    left:  10px;
    width: 5%;
}